{% extends "admin/base.html" %}

{% block footer %}
    {{ block.super }}
    <script>
        if (!window.jQuery && window.django && window.django.jQuery) {
            window.jQuery = window.django.jQuery;
        }
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    <script>
        (function ($) {
            $(document).ready(function () {
                var mascaras = [
                    {seletor: '#id_cpf', mascara: '000.000.000-00'},
                    {seletor: '.field-cpf a', mascara: '000.000.000-00'},
                    //{ seletor: '#id_telefone', mascara: '(00) 00000-0000' },
                ];
                mascaras.forEach(function (item) {
                    var elementos = $(item.seletor);
                    if (elementos.length > 0) {
                        elementos.mask(item.mascara, {reverse: true});
                    }
                });
            });
        })(window.jQuery || window.django.jQuery);
    </script>
{% endblock %}
