{% extends "admin/login.html" %}

{% block title %}Acessar | {{ jazzmin_settings.site_title }}{% endblock %}

{% block content %}
    {% if user.is_authenticated and not user.is_staff %}
        <div class="errornote">
            <p class="errornote">
                Você está autenticado como <strong>{{ user.nome_completo }}</strong>,
                mas não tem permissão para acessar esta área. Acesse o link de um comunicado ou arquivo.
            </p>
            <br>
            <form action="{% url 'admin:logout' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger btn-block">
                    <i class="fas fa-sign-out-alt"></i> Sair e entrar com outra conta
                </button>
            </form>
        </div>
    {% else %}
        {{ block.super }}
    {% endif %}

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const input = document.querySelector('input[placeholder="CPF"]');
            if (input) {
                input.addEventListener('input', function (e) {
                    let valor = e.target.value;
                    if (!valor.match(/^\d/)) {
                        return;
                    }
                    let x = valor.replace(/\D/g, '').match(/(\d{0,3})(\d{0,3})(\d{0,3})(\d{0,2})/);
                    e.target.value = !x[2] ? x[1] : x[1] + '.' + x[2] + (x[3] ? '.' + x[3] : '') + (x[4] ? '-' + x[4] : '');
                });
            }
        })
    </script>
{% endblock %}
