{% extends "admin/login.html" %}

{% block title %}Acessar Admin | {{ jazzmin_settings.site_title }}{% endblock %}

{% block content %}
    {% if user.is_authenticated and not user.is_staff %}
        <div class="errornote">
            <p class="errornote">
                Você está autenticado como <strong>{{ user.nome_completo|default:user.username }}</strong>,
                mas não tem permissão para acessar o painel administrativo.
            </p>
            <br>
            <form action="{% url 'admin:logout' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger btn-block">
                    <i class="fas fa-sign-out-alt"></i> Sair e entrar com outra conta
                </button>
            </form>
        </div>
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock %}
